body {
    background: rgb(255, 89, 89);
    background: linear-gradient(90deg, rgba(255, 89, 89, 1) 0%, rgba(158, 158, 158, 1) 100%);
}

.container {
    text-align: center;
    width: 90%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.position {
    display: flex;
    justify-content: center;
}

.hauteur {
    height: 400px;
}

.image-profil {
    height: 400px;
}

img {
    height: 100%;
    border-radius: 50%;
}

.bio {
    width: 70%;
}

.info {
    width: 85%;
}

.text {
    text-align: justify;
}

h1 {
    font-size: 100px;
    margin-bottom: 50px;
}

p {
    font-size: 14px;
}